extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top#mainNav
        div.container
            a.navbar-brand.js-scroll-trigger#page-top Norsemen : The Lost Warrior
            button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
                i.fa.fa-bars
            div.collapse.navbar-collapse#navbarResponsive
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a#aboutLink.nav-link.js-scroll-trigger(href="#about") About
                    li.nav-item
                        a#storyLink.nav-link.js-scroll-trigger(href="#story") Story
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#open-world") Open World
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#gameplay") Gameplay
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#social") Social
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href="#contribute") Contribute
    header.masthead#top
        div.intro-body
            div.container
                div.row
                    div.col-lg-12.mx-auto
                        h1.brand-heading 
                            | Norsemen
                            br
                            | The Lost Warrior
                        p.intro-text
                            | A thrilling Open World RPG Viking experience 
                            br
                            | Built with 
                            img(src="./images/heart.ico" alt="Love" width="18" height="18" draggable="false") 
                            | by Neo Red Entertainment
                        a(href="#about").btn.btn-circle.js-scroll-trigger#ArrowDown
                            i.fa.fa-angle-double-down.animated
    section#about.about-section.text-center
        div.container
            div.row
                div.col-lg-8.mx-auto
                    h2 About our game
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut elementum magna. Ut nec ligula ultrices, bibendum lectus ut, convallis purus.
                    p Praesent at semper tellus, sit 
                        a(href="#") amet mattis orci.
                    p Sed gravida elit nibh, id fringilla nunc pharetra non. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    section#story.story-section.content-section.text-center
        div.container
            div.col-lg-8.mx-auto
                h2 Rich Story
                p Norsemen: The Lost Warrior has a rich story with difficult and challenging quests.
                p We take inspiration from a lot of existing norse myths as well as creating our own ones.
                p Sed sit amet efficitur tortor. Vivamus a lorem eget est facilisis fringilla vitae vitae odio.
    section#open-world.open-world-section.text-center
        div.container
            div.col-lg-8.mx-auto
                h2 Open World
                p Norsemen: The Lost Warrior has an open world map that is free for you to explore as you want.
                p We know how liberating it is to have a true open world experience. So we went ahead and built a map that invites you to explore as you wish.
                p But be careful. Who knows, one of those ancient myths might hold some truth after all.
    section#gameplay.gameplay-section.text-center
        div.container
            div.col-lg-8.mx-auto
                h2 Gameplay
                p Norsemen: The Lost Warrior has an open world map that is free for you to explore as you want.
                p We know how liberating it is to have a true open world experience. So we went ahead and built a map that invites you to explore as you wish.
                p But be careful. Who knows, one of those ancient myths might hold some truth after all.
    section#social.social-section.text-center
        div.container
            div.row
                div.col-lg-8.mx-auto
                    h2 Social Media
                    p Best ways to stay updated about our progress
                    ul.list-inline.banner-social-buttons
                        li.list-inline-item
                            a(href="#").btn.btn-default.btn-lg
                                i.fa.fa-pencil.fa-fw
                                span.network-name Blog                    
                        li.list-inline-item
                            a(href="#").btn.btn-default.btn-lg
                                i.fa.fa-facebook.fa-fw
                                span.network-name Facebook
                        li.list-inline-item
                            a(href="#").btn.btn-default.btn-lg
                                i.fa.fa-twitter.fa-fw
                                span.network-name Twitter
                        li.list-inline-item
                            a(href="#").btn.btn-default.btn-lg
                                i.fa.fa-google-plus.fa-fw
                                span.network-name &nbsp;Google
                        li.list-inline-item
                            a(href="#").btn.btn-default.btn-lg
                                i.fa.fa-youtube.fa-fw
                                span.network-name YouTube
    section#contribute.contribute-section.text-center
        div.container
            div.col-lg-8.mx-auto
                h2 Want to contribute?
                p Wanna get involved in developing this game with us?
                p We are currently working with a small team of developers on this project.
                p If you have some experience in any process of game development, be it 3D modeling, programming etc. feel free to send us an email.
    footer
        div.container
            
            div.row
                div.col-md-1.grey-text
                    img(src="./images/neo-no-text.png" alt="Love" width="50" style="position: absolute;" draggable="false")
                div.col-md-3.grey-text
                    b Games
                div.col-md-3.grey-text
                    b Community
                div.col-md-3.grey-text
                    b About
                div.col-md-2.grey-text
                    b Social Media
            div.row
                div.col-md-1
                div.col-md-3
                    br
                    a(href="#") Norsemen: The Lost Warrior
                div.col-md-3
                    br
                    a(href="#") Steam
                div.col-md-3
                    br
                    a(href="#") About us
                div.col-md-2.social-icons
                    br
                    a(href="#")
                        i.fa.fa-facebook-square.fa-fw
                    a(href="#")
                        i.fa.fa-google-plus-square.fa-fw
                    a(href="#")
                        i.fa.fa-twitter-square.fa-fw
                    a(href="#")
                        i.fa.fa-youtube-square.fa-fw
            div.row
                div.col-md-1
                div.col-md-3
                div.col-md-3
                    a(href="#") Forum
                div.col-md-3
                    a(href="#") Contribute
                div.col-md-2
            div.row
                div.col-md-1
                div.col-md-3
                div.col-md-3
                    a(href="#") Support
                div.col-md-3
                    a(href="#") Contact us
                div.col-md-2
            div.row       
                div.col-md-4         
                    div.grey-text
                        br
                        | Copyright &copy; Neo Red Entertainment 2017
                        br
                        | Trademarks belong to their respective owners.
                        br
                        | All rights reserved.  
    div#back-top-btn.back-top-btn-hidden
        a(href="#top").btn.btn-circle.js-scroll-trigger
            i.fa.fa-angle-double-up.animated#back-top-arrow
    script(src="/javascripts/index/index.js")