doctype html
html
    head
        meta(name="theme-color" content="#000000")
        meta(name="msapplication-navbutton-color" content="#000000")
        meta(name="apple-mobile-web-app-status-bar-style" content="#000000")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/main.min.css')
        link(href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css")
        link(href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css')
    body
        block content
    script.
        if (typeof module === 'object') {window.module = module; module = undefined;}
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/main.min.js")
    script(src="/javascripts/jquery.easing.min.js")